body{
    width: 100%;
    height: 100%;
    background-image: url("img/one_piece.jpg");
    background-size: cover;
}
div{
    background-color: aliceblue;
    width: max-content;
    padding: 16px 24px;
    opacity: 0.8;
}